* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  body {
    background-color: white;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh;
    font-family: 'Heebo', sans-serif;
}
  .menu-area li a {
    text-decoration: none;
  }
  
  .menu-area li {
    list-style-type: none;
  }
  
  .custom-padding{
    padding-top: 25px;
  }
  
  nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: #333;
    text-align: right;
    padding-right: 2%;
    font-family: 'Heebo', sans-serif;
    top: 0px;
  }
  
  .logo {
    width: 15%;
    float: left;
    position: absolute;
    top: 8px;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
  }
  
  .menu-area li {
    display: inline-block;
  }
  
  .menu-area a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 12px;
    line-height: 30px;
    position: sticky;
    z-index: 1;
  }
  .menu-area a:hover {
    background: rgba(0, 255, 238, 0.548);
    color: #fff;
  }
  
  .menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
  }
  
  h1 {
    font-size: 50px;
    font-family: 'Heebo', sans-serif;
    position: absolute;
    right: 300px;
    top: 200px;
    font-family: 'Orbitron', sans-serif;
    color: white;
  }

  p {
   font-size: 22px;
   font-family: Heebo;
   position: absolute;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 2.5em;
   padding: 20px 20px 20px 20px;
   text-align: justify;
  
   
  }

  .imgtop {
    position: absolute;
    top: -550px;
    z-index: 0;
    width: 100%;

  }
  
  .img1 {
    float: right;
    margin-left: 1em;
    width: 350px;
    border-radius: 10px;
    filter: drop-shadow(30px);
    /*transition start*/
    transition: transform 400ms, opacity 400ms;
  }
  
.img1:hover {
  transform: scale(1.2);
}
  /*transition end*/

/* just for the first box lmao*/



.boxtext1 {
  font-size: 19px; 
  font-family: 'Heebo', sans-serif;
  position: absolute;
  top: 50px;
}

.boxh1 {
  font-size: 20px;
  font-family: Heebo;
  position: absolute;
  top: -10px;
  right: 85px;
}

.box1{
  position: absolute;
  font-size: 20px;
  font-family: Heebo;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0px;
  width: 325px;
  height: 300px;
  left: 100px;
}
/* all this code for the first end*/
.box2 {
  position: absolute;
  font-size: 20px;
  font-family: Heebo;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0px;
  width: 325px;
  height: 300px;
  left: 550px;
}

.box3 {
  position: absolute;
  font-size: 20px;
  font-family: Heebo;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0px;
  width: 325px;
  height: 300px;
  left: 1000px;
}

.box4 {
  position: absolute;
  font-size: 20px;
  font-family: Heebo;
  border: 2px solid lightgray;
  border-radius: 4px;
  margin: 0px;
  width: 325px;
  height: 300px;
  left: 100px;
  top: 1000px;
}